body {
  font-family: 'Montserrat', sans-serif;
}

p, span {
  text-transform: none !important;
}

.container {
  max-width: 1440px;
  margin: auto;
}

.main {
  position: relative;
  background: #EFF8ED;
  min-width: 70%;
}

.register-btn {
  border: none;
  padding: 15px 25px;
  background: #96BB7C;
  border-radius: 5px;
  color: #FFFFFF;
  font-weight: bold;
}

.description {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.description-text {
  max-width: 300px;
}

.description-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

img {
  max-width: 50vw;
  max-height: 60vh;
}

.info-cards {
  position: absolute;
  bottom: -30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card {
  background-color: #fff;
  width: 25vw;
  -webkit-box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  padding: 5px;
}

.card:not(:last-child) {
  margin-right: 15%;
}

.card-text {
  max-width: 400px;
  font-size: 16px;
}

.services {
  margin-top: 220px;
  position: relative;
}

.service-container {
  max-width: 1440px;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4fr 8fr;
      grid-template-columns: 4fr 8fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.service-header {
  position: inherit;
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0.2px;
  color: #252B42;
}

.service-header::before {
  content: ' ';
  position: absolute;
  width: 70px;
  height: 7px;
  background-color: red;
}

.service-text {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
  max-width: 450px;
}

.service-link {
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #96BB7C;
}

.service-img {
  max-height: 60vh;
  max-width: 20vw;
}

.side-info, .main-info {
  -ms-grid-column-align: center;
      justify-self: center;
}

.side-info {
  text-align: right;
  max-width: 200px;
}

.team {
  margin-top: 100px;
  background-color: #FAFAFA;
}

.team-header {
  text-align: center;
  margin-right: 30px;
  font-size: 35px;
}

.team-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 50px;
}

.member-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}

.member-avatar {
  width: 128px;
  height: 128px;
  border-radius: 50%;
}

.members-list {
  list-style: square;
}

.members-item {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
}

@media (max-width: 1200px) {
  .description {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    padding-top: 30px;
  }
  .description-text {
    font-size: 28px;
  }
  .info-cards svg {
    max-width: 10vw;
    max-height: 5vh;
  }
  .card-text {
    font-size: 16px;
  }
  .services {
    margin-top: 180px;
  }
}

@media (max-width: 915px) {
  .description-text {
    font-size: 20px;
  }
  .card-text {
    font-size: 12px;
  }
  .info-cards {
    bottom: -20%;
  }
  .info-cards svg {
    max-width: 8vw;
    max-height: 3vh;
  }
  .member-text {
    font-size: 20px;
  }
  .services {
    margin-top: 75px;
  }
}

@media (max-width: 675px) {
  .card-header {
    margin: 0px;
  }
  .card-text {
    margin: 5px;
  }
}

@media (max-width: 650px) {
  .info-cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .description-form {
    display: none;
  }
  .services {
    margin-top: 20px;
  }
  .team-header {
    margin-top: 10px;
  }
}

@media (max-width: 560px) {
  .service-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .service-img {
    min-width: 90vw;
    min-height: 20vh;
  }
  .arrow {
    display: none;
  }
  .service-container > .stat-image {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .service-container > .stat-info {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .service-container > .call-image {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .service-container > .call-info {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
  .service-container > .sprint-image {
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7;
  }
  .service-container > .sprint-info {
    -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
            order: 8;
  }
  .service-text {
    max-width: 100%;
  }
  .side-info {
    max-width: 100%;
    text-align: left;
  }
  .team-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .card {
    width: 40vw;
  }
}

@media (max-width: 427px) {
  .header {
    max-width: 85vw;
  }
}

@media (min-width: 1400px) {
  .info-cards {
    bottom: -20%;
  }
  .main {
    min-width: 90%;
  }
}
/*# sourceMappingURL=main.css.map */