.footer__wrap {
  position: relative;
  width: 100%;

  .footer__cont{
    width: 100%;
    display: flex;
    justify-content: space-around;      
    align-items: center;
  }
  
img {
  width: 120px;    
}
a{
  text-decoration: none;
  color: black;
}
}
@media(max-width: 430px) {
  .footer__wrap {
    .footer__cont {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}
