* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

.sprint-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 70vh;
}

p{
  text-transform: uppercase;
  font-size: 30px;
}